@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open_sans/OpenSans-Regular.ttf") format("ttf");
  font-weight: $font-weight-bold;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald/Oswald-Regular.ttf") format("ttf");
  font-weight: $font-weight-bold;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bn32ox');
  src:  url('../fonts/icomoon.eot?bn32ox#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bn32ox') format('truetype'),
    url('../fonts/icomoon.woff?bn32ox') format('woff'),
    url('../fonts/icomoon.svg?bn32ox#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-chevron-up:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
