.socials {
    @include list-reset;
    @extend %clearfix;

    display: inline-block;
}

.socials__item {
    float: left;
    margin: 0 20px 0 0;

    &:last-of-type {
        margin: 0;
    }
}

.socilas__link {
    font-size: 17px;
    color: $clr-4;
    transition: color 0.3s;

    &:hover {
        text-decoration: none;
        color: $clr-3;
    }

    span {
        display: none;
    }
}

