.text-nav {

}

.text-nav__item {
    text-align: center;
    color: $clr-7;
    margin: 0 0 15px;
    font-weight: bold;
    font-size: 25px;
    display: block;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
    padding: 20px 10px;

    &:hover {
        text-decoration: none;
        background-color: rgba($clr-2, 0.8);
        color: $clr-white;
    }
}